* {
  outline: none;
}
body {
  background-color: #f3f3f3;
}
#container {
  margin: auto;
  width: 640px;
  height: 640px;
  background-color: white;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
}
#control {
  margin: 0 auto;
  width: 640px;
  height: 100px;
  text-align: center;
}
#clear {
  background-color: gray;
  border: none;
  padding: 10px 15px;
  margin-top: 25px;
  border-radius: 4px;
  color: #f3f3f3;
}
